<table>
	<thead>
		<tr>
			<th>Key</th>
			<th>Value Type</th>
			<th>Value Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>status</td>
			<td>string</td>
			<td>"success" if the call succeeded or "error" indicating that the call failed.</td>
		</tr>
		<tr>
			<td>message</td>
			<td>string</td>
			<td>A short description of the cause of the error. </td>
		</tr>
		<tr>
			<td>result</td>
			<td>object, array</td>
			<td>The JSON response object or array</td>
		</tr>
		<tr>
			<td>version</td>
			<td>string</td>
			<td>The current full release version of Agave. Ex "2.2.0-r8228"</td>
		</tr>
	</tbody>
</table>
