<table>
	<thead>
		<tr>
			<th>Token</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>$SYSTEM_ID</td>
			<td>The id of the system where the file or directory lives. The correspond to the ids returned from the Systems service.</td>
		</tr>
		<tr>
			<td>$PATH</td>
			<td>(<i>Optional:</i>) The path on the remote system. By default, all paths are relative to the home directory defined in the system description. To specify an absolute path, prefix the path with a `/`. For more on path resolution, see the next section.</td>
		</tr>
	</tbody>
</table>
