<table>
	<thead>
		<tr>
			<th>Schema</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>http</td>
			<td>Supported with and without user info</td>
		</tr>
		<tr>
			<td>https</td>
			<td>Supported with and without user info</td>
		</tr>
		<tr>
			<td>ftp</td>
			<td>Anonymous FTP only</td>
		</tr>
		<tr>
			<td>sftp</td>
			<td>User info required in URL</td>
		</tr>
		<tr>
			<td>agave</td>
			<td>No user info supported.</td>
		</tr>
	</tbody>
</table>
