<table id="notification-macros-files" class="notification-macros hidden">
	<thead>
		<tr>
			<th>Variable</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UUID</td>
			<td>The UUID of the file</td>
		</tr>
		<tr>
			<td>EVENT</td>
			<td>The event which occurred</td>
		</tr>
		<tr>
			<td>TYPE</td>
			<td>The application id (ex. sabermetrics-2.1)</td>
		</tr>
		<tr>
			<td>FORMAT</td>
			<td>The data format of the file/folder.</td>
		</tr>
		<tr>
			<td>PATH</td>
			<td>Path to the file/folder on the remote system</td>
		</tr>
		<tr>
			<td>SYSTEM</td>
			<td>ID of the system on which the file/folder exists (ex. ssh.execute.example.com)</td>
		</tr>
	</tbody>
</table>
