<!-- Begin PostIt Events -->
<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CREATED</td>
			<td>The metadata was updated</td>
		</tr>
		<tr>
			<td>UPDATED</td>
			<td>The metadata was updated</td>
		</tr>
		<tr>
			<td>REFRESHED</td>
			<td>PostIt was refreshed back to its original quotas or extended for another day</td>
		</tr>
		<tr>
			<td>DELETED</td>
			<td>The metadata was deleted</td>
		</tr>
		<tr>
			<td>REDEEMED</td>
			<td>User permission was granted</td>
		</tr>
	</tbody>
</table>
<!-- End PostIt Events -->