<table>
	<thead>
		<tr>
			<th>rootDir</th>
			<th>homeDir</th>
			<th>Effective homeDir</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>/</td>
			<td>/</td>
			<td>/</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home/nyran</td>
			<td>/home/nyran</td>
		</tr>
		<tr>
			<td>/scratch</td>
			<td>/home/nyran</td>
			<td>/scratch/home/nyran</td>
		</tr>
	</tbody>
</table>
