<table>
	<thead>
		<tr>
			<th>Field Name</th>
			<th>Description</th>
			<th>Required?</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>username</td>
			<td>The username for the user; must be unique across the tenant</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>email</td>
			<td>The email address for the user.</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>password</td>
			<td>The password for the user. </td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>first_name</td>
			<td>First name of the user</td>
			<td>No</td>
		</tr>
		<tr>
			<td>last_name</td>
			<td>Last name of the user</td>
			<td>No</td>
		</tr>
		<tr>
			<td>phone</td>
			<td>User's phone number</td>
			<td>No</td>
		</tr>
		<tr>
			<td>mobile_phone</td>
			<td>User's mobile phone number.</td>
			<td>No</td>
		</tr>
	</tbody>
</table>
