<table>
	<thead>
		<tr>
			<th>Status Code</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>200</td>
			<td>OK - The request has succeeded. The client can read the result of the request in the body and the headers of the response.</td>
		</tr>
		<tr>
			<td>201</td>
			<td>Created</td>
		</tr>
		<tr>
			<td>202</td>
			<td>Content Accepted</td>
		</tr>
		<tr>
			<td>204</td>
			<td>No Content</td>
		</tr>
		<tr>
			<td>400</td>
			<td>Bad Request</td>
		</tr>
		<tr>
			<td>401</td>
			<td>Unauthorized</td>
		</tr>
		<tr>
			<td>403</td>
			<td>Forbidden</td>
		</tr>
		<tr>
			<td>404</td>
			<td>Not Found - The requested resource could not be found. This error can be due to a temporary or permanent condition.</td>
		</tr>
		<tr>
			<td>500</td>
			<td>Server Error</td>
		</tr>
		<tr>
			<td>502</td>
			<td>Bad Gateway - The server was acting as a gateway or proxy and received an invalid response from the upstream server.</td>
		</tr>
		<tr>
			<td>503</td>
			<td>Service Unavailable - The server is currently unable to handle the request due to a temporary condition which will be alleviated after some delay. You can choose to resend the request again.</td>
		</tr>
	</tbody>
</table>
