<table>
	<thead>
		<tr>
			<th>Request body parameter</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>grant_type</td>
			<td><i>Required.</i> Set it to "refresh_token". 
refresh_token </td>
		</tr>
		<tr>
			<td>refresh_token</td>
			<td><i>Required.</i> The refresh token returned from the authorization code exchange.</td>
		</tr>
	</tbody>
</table>
