<table>
	<thead>
		<tr>
			<th>Header parameter</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Authorization</td>
			<td><i>Required.</i> Base 64 encoded string that contains the client ID and client secret key. The field must have the format: <code>Authorization: Basic <base64 encoded client_id:client_secret></code>. (<i>This can also be achieved with curl using the `-u` option and specifying the raw colon separated client_id and client_secret.</i>)</td>
		</tr>
	</tbody>
</table>
