<table>
	<thead>
		<tr>
			<th>Request body parameter</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>grant_type</td>
			<td><i>Required.</i> Set it to "client_credentials".</td>
		</tr>
		<tr>
			<td>scope</td>
			<td><i>Optional.</i> A space-separated list of scopes. Currently on PRODUCTION is supported.</td>
		</tr>
	</tbody>
</table>
