<table>
	<thead>
		<tr>
			<th>Query parameter </th>
			<th>Value </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>access_token </td>
			<td>An access token that can be provided in subsequent calls, for example to <a href="https://public.agaveapi.co/profiles/v2/me?pretty=true">Agave Profiles API</a>. </td>
		</tr>
		<tr>
			<td>token_type </td>
			<td>Value: "bearer" </td>
		</tr>
		<tr>
			<td>expires_in </td>
			<td>The time period (in seconds) for which the access token is valid. </td>
		</tr>
		<tr>
			<td>state </td>
			<td>The value of the <code>state</code> parameter supplied in the request. </td>
		</tr>
	</tbody>
</table>