<table>
	<thead>
		<tr>
			<th>Query parameter 
</th>
			<th>Value 
</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>error 
</td>
			<td>The reason authorization failed, for example: “access_denied” </td>
		</tr>
		<tr>
			<td>state 
</td>
			<td>The value of the state parameter supplied in the request. </td>
		</tr>
	</tbody>
</table>
