<table>
	<thead>
		<tr>
			<th>"rootDir" value</th>
			<th>"homeDir" value</th>
			<th>Agave URL path</th>
			<th>Resolved path on system</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>/</td>
			<td>/</td>
			<td>--</td>
			<td>/</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/</td>
			<td>..</td>
			<td>/</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/</td>
			<td>home</td>
			<td>/home</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/</td>
			<td>/home</td>
			<td>/home</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home/nryan</td>
			<td>--</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home/nryan</td>
			<td>/</td>
			<td>/</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home/nryan</td>
			<td>..</td>
			<td>/home</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home/nryan</td>
			<td>nryan</td>
			<td>/home/nryan/nryan</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home/nryan</td>
			<td>/nryan</td>
			<td>/nryan</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/</td>
			<td>--</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/</td>
			<td>..</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/home</td>
			<td>/</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/home</td>
			<td>..</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/home</td>
			<td>home</td>
			<td>/home/nryan/home/home</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/home</td>
			<td>/bgibson</td>
			<td>/home/nryan/bgibson</td>
		</tr>
	</tbody>
</table>
