<table>
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>action</td>
			<td>The action you want to perform. Select one of "move", "copy", "rename", "mkdir".</td>
		</tr>
		<tr>
			<td>path</td>
			<td>Full path to the destination file or folder. This may be the name of a new directory or renamed file, or an absolute or relative Agave path where the file or directory should be copied/moved.</td>
		</tr>
	</tbody>
</table>
