<table id="notification-macros-monitors" class="notification-macros hidden">
	<thead>
		<tr>
			<th>Variable</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ID</td>
			<td>The ID of the monitor</td>
		</tr>
		<tr>
			<td>EVENT</td>
			<td>The event which occurred</td>
		</tr>
		<tr>
			<td>OWNER</td>
			<td>The owner of the monitor</td>
		</tr>
		<tr>
			<td>TARGET</td>
			<td>The system to which the monitor applies</td>
		</tr>
		<tr>
			<td>ACTIVE</td>
			<td>Whether the monitor is active or inactive</td>
		</tr>
		<tr>
			<td>UPDATE_SYSTEM_STATUS</td>
			<td>Whether the system status will be updated with the check results</td>
		</tr>
		<tr>
			<td>INTERNAL_USERNAME</td>
			<td>The internal user associated with the status check</td>
		</tr>
		<tr>
			<td>CREATED</td>
			<td>The time the monitor was created in ISO8601 format</td>
		</tr>
		<tr>
			<td>LAST_SUCCESS</td>
			<td>The time the monitor last successfully ran in ISO8601 format</td>
		</tr>
		<tr>
			<td>LAST_UPDATED</td>
			<td>The time the monitor last ran in ISO8601 format</td>
		</tr>
		<tr>
			<td>NEXT_CHECK</td>
			<td>The time the monitor will run in ISO8601 format</td>
		</tr>
		<tr>
			<td>FREQUENCY</td>
			<td>The frequency in minutes that the monitor runs</td>
		</tr>
	</tbody>
</table>
