<table id="notification-macros-transforms" class="notification-macros hidden">
	<thead>
		<tr>
			<th>Variable</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UUID</td>
			<td>The UUID of the transfer</td>
		</tr>
		<tr>
			<td>EVENT</td>
			<td>The event which occurred</td>
		</tr>
		<tr>
			<td>SOURCE</td>
			<td>The source URL of this transfer</td>
		</tr>
		<tr>
			<td>DESTINATION</td>
			<td>The destination URL of this transfer</td>
		</tr>
		<tr>
			<td>STATUS</td>
			<td>The current status of this transfer in ISO8601 format</td>
		</tr>
		<tr>
			<td>CREATED</td>
			<td>The time the transfer was submitted to Agave in ISO8601 format</td>
		</tr>
		<tr>
			<td>START_TIME</td>
			<td>The time the transfer started in ISO8601 format</td>
		</tr>
		<tr>
			<td>END_TIME</td>
			<td>The time the transfer ended in ISO8601 format</td>
		</tr>
		<tr>
			<td>TOTAL_SIZE</td>
			<td>Total data size to be transferred</td>
		</tr>
		<tr>
			<td>TOTAL_TRANSFER</td>
			<td>Total bytes transferred</td>
		</tr>
		<tr>
			<td>TRANSFER_RATE</td>
			<td>Average transfer rate of all data moved in this transfer given in Gbps</td>
		</tr>
		<tr>
			<td>ATTEMPTS</td>
			<td>Number of attempts made to transfer the SOURCE data</td>
		</tr>
	</tbody>
</table>
