<table>
	<thead>
		<tr>
			<th>Verb</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>GET</td>
			<td>Used for retrieving resources.</td>
		</tr>
		<tr>
			<td>POST</td>
			<td>Used for creating resources.</td>
		</tr>
		<tr>
			<td>PUT</td>
			<td>Used for manipulating resources or collections.</td>
		</tr>
		<tr>
			<td>DELETE</td>
			<td>Used for deleting resources. </td>
		</tr>
	</tbody>
</table>
