<table id="notification-macros-postits" class="notification-macros hidden">
	<thead>
		<tr>
			<th>Variable</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UUID</td>
			<td>The UUID of the PostIt</td>
		</tr>
		<tr>
			<td>EVENT</td>
			<td>The event which occurred</td>
		</tr>
		<tr>
			<td>NONCE</td>
			<td>Nonce specified in the POSTIT url</td>
		</tr>
		<tr>
			<td>CREATED</td>
			<td>Time the PostIt was created ISO8601 format</td>
		</tr>
		<tr>
			<td>RENEWED</td>
			<td>Last time the PostIt was renewed in ISO8601 format</td>
		</tr>
		<tr>
			<td>EXPIRES</td>
			<td>Time the PostIt expires in ISO8601 format</td>
		</tr>
		<tr>
			<td>TARGET_URL</td>
			<td>Remote URL which will be called when the PostIt is redeemed</td>
		</tr>
		<tr>
			<td>TARGET_METHOD</td>
			<td>HTTP method that will be called on the TARGET_URL</td>
		</tr>
		<tr>
			<td>REMAINING_USES</td>
			<td>Number of invocations remaining for this PostIt</td>
		</tr>
		<tr>
			<td>POSTIT</td>
			<td>Full PostIt URL</td>
		</tr>
	</tbody>
</table>
