<table id="notification-macros-internal-user" class="notification-macros hidden">
	<thead>
		<tr>
			<th>Variable</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UUID</td>
			<td>The UUID of the user</td>
		</tr>
		<tr>
			<td>EVENT</td>
			<td>The event which occurred</td>
		</tr>
		<tr>
			<td>USERNAME</td>
			<td>Username of the user</td>
		</tr>
		<tr>
			<td>EMAIL</td>
			<td>Email address of the user</td>
		</tr>
		<tr>
			<td>FIRST_NAME</td>
			<td>First name of the user</td>
		</tr>
		<tr>
			<td>LAST_NAME</td>
			<td>Last name of the user</td>
		</tr>
		<tr>
			<td>POSITION</td>
			<td>Formal job position</td>
		</tr>
		<tr>
			<td>INSTITUTION</td>
			<td>Institution in which they work</td>
		</tr>
		<tr>
			<td>PHONE</td>
			<td>Phone number</td>
		</tr>
		<tr>
			<td>FAX</td>
			<td>Fax number</td>
		</tr>
		<tr>
			<td>RESEARCH_AREA</td>
			<td>Domain of science</td>
		</tr>
		<tr>
			<td>DEPARTMENT</td>
			<td>Department in which they work</td>
		</tr>
		<tr>
			<td>CITY</td>
			<td>City of residence</td>
		</tr>
		<tr>
			<td>STATE</td>
			<td>State of residence</td>
		</tr>
		<tr>
			<td>COUNTRY</td>
			<td>Country of residence</td>
		</tr>
		<tr>
			<td>GENDER</td>
			<td>Male, female or null if unknown</td>
		</tr>
		<tr>
			<td>ACTIVE</td>
			<td>True if the user is active. False otherwise</td>
		</tr>
		<tr>
			<td>LAST_UPDATED</td>
			<td>The last time this user was updated in ISO8601 format</td>
		</tr>
	</tbody>
</table>
