<table id="notification-macros-apps" class="notification-macros">
	<thead>
		<tr>
			<th>Variable</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UUID</td>
			<td>The UUID of the app.</td>
		</tr>
		<tr>
			<td>EVENT</td>
			<td>The event which occurred</td>
		</tr>
		<tr>
			<td>APP_ID</td>
			<td>The application id (ex. sabermetrics-2.1)</td>
		</tr>
	</tbody>
</table>
