<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CREATED</td>
			<td>A new transfer was created</td>
		</tr>
		<tr>
			<td>CANCELLED</td>
			<td>The system was deleted</td>
		</tr>
		<tr>
			<td>QUEUED</td>
			<td>Transfer queued and waiting to start</td>
		</tr>
		<tr>
			<td>COMPLETED</td>
			<td>Transfer completed successfully</td>
		</tr>
		<tr>
			<td>FAILED</td>
			<td>Transfer failed while transferring</td>
		</tr>
		<tr>
			<td>PAUSED</td>
			<td>Transfer paused</td>
		</tr>
		<tr>
			<td>RETRYING</td>
			<td>Transfer failed, beginning to retry</td>
		</tr>
		<tr>
			<td>TRANSFERRING</td>
			<td>Transfer has started</td>
		</tr>
	</tbody>
</table>
