<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CREATED</td>
			<td>The system was created</td>
		</tr>
		<tr>
			<td>UPDATED</td>
			<td>The system was updated</td>
		</tr>
		<tr>
			<td>DELETED</td>
			<td>The system was deleted</td>
		</tr>
		<tr>
			<td>ROLES_GRANT</td>
			<td>User permission was granted</td>
		</tr>
		<tr>
			<td>ROLES_REVOKE</td>
			<td>User role was removed from the system</td>
		</tr>
		<tr>
			<td>STATUS_CHANGE</td>
			<td>The system status changed</td>
		</tr>
	</tbody>
</table>
