<table>
	<thead>
		<tr>
			<th>Variable</th>
			<th>Description</th>
			<th>Example</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>${API_HOST}</td>
			<td>Base hostname of the API. </td>
			<td>public.agaveapi.co</td>
		</tr>
		<tr>
			<td>${API_VERSION}</td>
			<td>Version of the API endpoint.</td>
			<td>v2</td>
		</tr>
		<tr>
			<td>${API_USERNAME}</td>
			<td>Username of the current user.</td>
			<td>nryan</td>
		</tr>
		<tr>
			<td>${API_KEY}</td>
			<td>Client key used to request an access token from the Agave Auth service.</td>
			<td>hZ_z3f4Hf3CcgvGoMix0aksN4BOD6</td>
		</tr>
		<tr>
			<td>${API_SECRET}</td>
			<td>Client secret used to request an access token from the Agave Auth service.</td>
			<td>gTgpCecqtOc6Ao3GmZ_FecVSSV8a</td>
		</tr>
		<tr>
			<td>${API_TOKEN}</td>
			<td></td>
			<td>de32225c235cf47b9965997270a1496c</td>
		</tr>
	</tbody>
</table>
