<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CREATED</td>
			<td>A new user account was created.</td>
		</tr>
		<tr>
			<td>DELETED</td>
			<td>The user account was deleted.</td>
		</tr>
		<tr>
			<td>UPDATED</td>
			<td>The user account was updated.</td>
		</tr>
		<tr>
			<td>ACCOUNT_ACTIVATED</td>
			<td>The user's account was activated.</td>
		</tr>
		<tr>
			<td>ACCOUNT_DEACTIVATED</td>
			<td>The user's account was deactivated.</td>
		</tr>
		<tr>
			<td>ROLE_GRANTED</td>
			<td>The user had a role added.</td>
		</tr>
		<tr>
			<td>ROLE_REVOKED</td>
			<td>The user had a role revoked.</td>
		</tr>
		<tr>
			<td>QUOTA_EXCEEDED</td>
			<td>The user has exceeded one or more quotas.</td>
		</tr>
	</tbody>
</table>
