<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CREATED</td>
			<td>The job was updated</td>
		</tr>
		<tr>
			<td>UPDATED</td>
			<td>The job was updated</td>
		</tr>
		<tr>
			<td>DELETED</td>
			<td>The job was deleted</td>
		</tr>
		<tr>
			<td>PERMISSION_GRANT</td>
			<td>User permission was granted</td>
		</tr>
		<tr>
			<td>PERMISSION_REVOKE</td>
			<td>Permission was removed for a user on this job</td>
		</tr>
		<tr>
			<td>PENDING</td>
			<td>Job accepted and queued for submission.</td>
		</tr>
		<tr>
			<td>STAGING_INPUTS</td>
			<td>Transferring job input data to execution system</td>
		</tr>
		<tr>
			<td>CLEANING_UP</td>
			<td>Job completed execution</td>
		</tr>
		<tr>
			<td>ARCHIVING</td>
			<td>Transferring job output to archive system</td>
		</tr>
		<tr>
			<td>STAGING_JOB</td>
			<td>Job inputs staged to execution system</td>
		</tr>
		<tr>
			<td>FINISHED</td>
			<td>Job complete</td>
		</tr>
		<tr>
			<td>KILLED</td>
			<td>Job execution killed at user request</td>
		</tr>
		<tr>
			<td>FAILED</td>
			<td>Job failed</td>
		</tr>
		<tr>
			<td>STOPPED</td>
			<td>Job execution intentionally stopped</td>
		</tr>
		<tr>
			<td>RUNNING</td>
			<td>Job started running</td>
		</tr>
		<tr>
			<td>PAUSED</td>
			<td>Job execution paused by user</td>
		</tr>
		<tr>
			<td>QUEUED</td>
			<td>Job successfully placed into queue</td>
		</tr>
		<tr>
			<td>SUBMITTING</td>
			<td>Preparing job for execution and staging binaries to execution system</td>
		</tr>
		<tr>
			<td>STAGED</td>
			<td>Job inputs staged to execution system</td>
		</tr>
		<tr>
			<td>PROCESSING_INPUTS</td>
			<td>Identifying input files for staging</td>
		</tr>
		<tr>
			<td>ARCHIVING_FINISHED</td>
			<td>Job archiving complete</td>
		</tr>
		<tr>
			<td>ARCHIVING_FAILED</td>
			<td>Job archiving failed</td>
		</tr>
		<tr>
			<td>HEARTBEAT</td>
			<td>Job heartbeat received</td>
		</tr>
		<tr>
            <td>JOB_RUNTIME_CALLBACK_EVENT</td>
            <td>This is the default event thrown when a job pushes out runtime information using the <span class="code">AGAVE_JOB_CALLBACK_NOTIFICATION</span> macro.</td>
        </tr>
		<tr>
            <td>EMPTY_STATUS_RESPONSE</td>
            <td>An empty response was received from the remote execution system when querying for job status</td>
        </tr>
		<tr>
            <td>REMOTE_STATUS_CHANGE</td>
            <td>The status of the job on the remote system was changed by an external process. The change does not reflect a change in Agave's understanding of the job's status.</td>
        </tr>
		<tr>
            <td>UNKNOWN_TERMINATION</td>
            <td>The job experienced an unknown termination event and is no longer running on the remote system. The job will be failed by Agave momentarily.</td>
        </tr>
	</tbody>
</table>
