<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CREATED</td>
			<td>The internal user was updated</td>
		</tr>
		<tr>
			<td>DELETED</td>
			<td>The internal user was deleted</td>
		</tr>
		<tr>
			<td>UPDATED</td>
			<td>The internal user was updated</td>
		</tr>
	</tbody>
</table>
