<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UPDATED</td>
			<td>The app was updated</td>
		</tr>
		<tr>
			<td>DELETED</td>
			<td>The app was deleted</td>
		</tr>
		<tr>
			<td>PUBLISHED</td>
			<td>The app was made available for public use.</td>
		</tr>
		<tr>
			<td>CLONED</td>
			<td>The app was cloned as another app</td>
		</tr>
		<tr>
			<td>PERMISSION_GRANT</td>
			<td>A user permission was updated</td>
		</tr>
		<tr>
			<td>PERMISSION_REVOKE</td>
			<td>A user permission was deleted</td>
		</tr>
		<tr>
			<td>RESTORED</td>
			<td>App was restored from disabled status</td>
		</tr>
		<tr>
			<td>UNPUBLISHED</td>
			<td>App was unpublished. It will no longer be available for public use</td>
		</tr>
		<tr>
			<td>PUBLISHING_FAILED</td>
			<td>The app failed to complete publishing. The id given in the original request is not valid and the app will not be publicly available.</td>
		</tr>
		<tr>
			<td>DISABLED</td>
			<td>App was disabled and is not currently available for use.</td>
		</tr>
		<tr>
			<td>CLONING_FAILED</td>
			<td>The app failed to complete publishing. The id given in the original request is not valid and the app will not be available for use.</td>
		</tr>
		<tr>
			<td>REGISTERED</td>
			<td>A new app was registered</td>
		</tr>
	</tbody>
</table>
