<table>
	<thead>
		<tr>
			<th><code>rootDir</code> value</th>
			<th><code>homeDir</code> value</th>
			<th><code>scratchDir</code> value</th>
			<th>Effective system path for job working directories</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>/</td>
			<td>/</td>
			<td>&mdash;</td>
			<td>/</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/</td>
			<td>/</td>
			<td>/</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/</td>
			<td>/scratch</td>
			<td>/scratch</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home/nryan</td>
			<td>&mdash;</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home/nryan</td>
			<td>/</td>
			<td>/</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home/nryan</td>
			<td>/scratch</td>
			<td>/scratch</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/</td>
			<td>&mdash;</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/</td>
			<td>/</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/</td>
			<td>/scratch</td>
			<td>/home/nryan/scratch</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/home</td>
			<td>&mdash;</td>
			<td>/home/nryan/home</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/home</td>
			<td>/</td>
			<td>/home/nryan</td>
		</tr>
		<tr>
			<td>/home/nryan</td>
			<td>/home</td>
			<td>/scratch</td>
			<td>/home/nryan/scratch</td>
		</tr>
	</tbody>
</table>
