<table>
	<thead>
		<tr>
			<th><code>rootDir</code></th>
			<th><code>homeDir</code></th>
			<th>URL path</th>
			<th>User permission</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>/</td>
			<td>/home</td>
			<td>&mdash;</td>
			<td>READ</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home</td>
			<td>/</td>
			<td>READ</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home</td>
			<td>/var</td>
			<td>READ</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home</td>
			<td>systest</td>
			<td>ALL</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home</td>
			<td>systest/some/subdir</td>
			<td>ALL</td>
		</tr>
		<tr>
			<td>/</td>
			<td>/home</td>
			<td>rjohnson</td>
			<td>NONE</td>
		</tr>
	</tbody>
</table>
