<table>
	<thead>
		<tr>
			<th>Role</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>USER</td>
			<td>Standard user of the system. Users with this role are referred to throughout the tutorials and guides as API users.</td>
		</tr>
		<tr>
			<td>TENANT_ADMIN</td>
			<td>A user with administration rights within a single tenant. They can publish systems and apps, create and manage user profiles,  subscribe for administrative notifications, and access privileged APIs and events. Tenant admins are defined by Agave staff when a tenant is created.</td>
		</tr>
		<tr>
			<td>SUPER_ADMIN</td>
			<td>A user with administrative rights across multiple tenants. These users have total control of all tenants and their administration.</td>
		</tr>
	</tbody>
</table>
