<table>
	<thead>
		<tr>
			<th>Flow</th>
			<th>Can fetch a user’s data by requesting access?</th>
			<th>Uses secret key? (key exchange must happen server-side!)</th>
			<th>Access token can be refreshed?</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Authorization Code</td>
			<td>Yes</td>
			<td>Yes</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Implicit Grant</td>
			<td>Yes</td>
			<td>No</td>
			<td>No</td>
		</tr>
		<tr>
			<td>Resource Owner Password Credentials</td>
			<td>Yes</td>
			<td>Yes</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Client Credentials</td>
			<td>No</td>
			<td>Yes</td>
			<td>No</td>
		</tr>
		<tr>
			<td>Unauthorized</td>
			<td>No</td>
			<td>No</td>
			<td>No</td>
		</tr>
	</tbody>
</table>


