<table>
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>name</td>
			<td>string</td>
			<td><b>Required:</b> A descriptive name given to the proxy server.</td>
		</tr>
		<tr>
			<td>host</td>
			<td>string</td>
			<td><b>Required:</b> The hostname of the proxy server.</td>
		</tr>
		<tr>
			<td>port</td>
			<td>integer</td>
			<td><b>Required:</b> The port on which to connect to the proxy server. If null, the port in the parent storage config is used.</td>
		</tr>
	</tbody>
</table>
