<table>
	<thead>
		<tr>
			<th>Attribute</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>name</td>
			<td>string</td>
			<td>A descriptive name given to the credential server</td>
		</tr>
		<tr>
			<td>endpoint</td>
			<td>string</td>
			<td><b>Required:</b> The endpoint of the authentication server.</td>
		</tr>
		<tr>
			<td>port</td>
			<td>integer</td>
			<td><b>Required:</b> The port on which to connect to the server.</td>
		</tr>
		<tr>
			<td>protocol</td>
			<td>MPG, MYPROXY</td>
			<td><b>Required:</b> The protocol with which to obtain an authentication credential.</td>
		</tr>
	</tbody>
</table>
