<table>
	<thead>
		<tr>
			<th>Permission</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>READ</td>
			<td>Gives the ability to view the app description.</td>
		</tr>
		<tr>
			<td>WRITE</td>
			<td>Gives the ability to update the app.</td>
		</tr>
		<tr>
			<td>EXECUTE</td>
			<td>Gives the ability to submit jobs using the app</td>
		</tr>
		<tr>
			<td>ALL</td>
			<td>Gives full READ and WRITE and EXECUTE permissions to the user.</td>
		</tr>
		<tr>
			<td>READ_WRITE</td>
			<td>Gives full READ and WRITE permissions to the user</td>
		</tr>
		<tr>
			<td>READ_EXECUTE</td>
			<td>Gives full READ and EXECUTE permissions to the user</td>
		</tr>
		<tr>
			<td>WRITE_EXECUTE</td>
			<td>Gives full WRITE and EXECUTE permissions to the user</td>
		</tr>
	</tbody>
</table>
