<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Value(s)</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>name</td>
			<td>string</td>
			<td>Descriptive name of the job. This will be slugified and used as one component of directory names in certain situations.</td>
		</tr>
		<tr>
			<td>appId</td>
			<td>string</td>
			<td>The unique name of the application being run by this job. This must be a valid application that the calling user has permission to run.</td>
		</tr>
		<tr>
			<td>batchQueue</td>
			<td>string</td>
			<td>The batch queue on the execution system to which this job is submitted. Defaults to the app's defaultQueue property if specified. Otherwise a best-fit algorithm is used to match the job parameters to a queue on the execution system with sufficient capabilities to run the job.</td>
		</tr>
		<tr>
			<td>nodeCount</td>
			<td>integer</td>
			<td>The number of nodes to use when running this job. Defaults to the app's defaultNodes property or 1 if no default is specified.</td>
		</tr>
		<tr>
			<td>processorsPerNode</td>
			<td>integer</td>
			<td>The number of processors this application should utilize while running. Defaults to the app's defaultProcessorsPerNode property or 1 if no default is specified. If the application is not of executionType PARALLEL, this should be 1.</td>
		</tr>
		<tr>
			<td>memoryPerNode</td>
			<td>string</td>
			<td>The maximum amount of memory needed per node for this application to run given in ####.#[E|P|T|G]B format. Defaults to the app's defaultMemoryPerNode property if it exists. GB are assumed if no magnitude is specified.</td>
		</tr>
		<tr>
			<td>maxRunTime</td>
			<td>string</td>
			<td>The estimated compute time needed for this application to complete given in hh:mm:ss format. This value must be less than or equal to the max run time of the queue to which this job is assigned. </td>
		</tr>
		<tr>
			<td>notifications*</td>
			<td>JSON array</td>
			<td>An array of one or more JSON objects describing an event and url which the service will POST to when the given event occurs. For more on Notifications, see the section on webhooks below.</td>
		</tr>
		<tr>
			<td>archive*</td>
			<td>boolean</td>
			<td>Whether the output from this job should be archived. If true, all new files created by this application's execution will be archived to the archivePath in the user's default storage system.</td>
		</tr>
		<tr>
			<td>archiveSystem*</td>
			<td>string</td>
			<td>System to which the job output should be archived. Defaults to the user's default storage system if not specified.</td>
		</tr>
		<tr>
			<td>archivePath*</td>
			<td>string</td>
			<td>Location where the job output should be archived. A relative path or absolute path may be specified. If not specified, a unique folder will be created in the user's home directory of the archiveSystem at 'archive/jobs/job-$JOB_ID'</td>
		</tr>
	</tbody>
</table>
