<table>
	<thead>
		<tr>
			<th>Permission</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>READ</td>
			<td>Gives the ability to view the job status, and output data.</td>
		</tr>
		<tr>
			<td>WRITE</td>
			<td>Gives the ability to perform actions, manage metadata, and set permissions.</td>
		</tr>
		<tr>
			<td>ALL</td>
			<td>Gives full READ and WRITE permissions to the user.</td>
		</tr>
		<tr>
			<td>READ_WRITE</td>
			<td>Synonymous to ALL. Gives full READ and WRITE permissions to the user</td>
		</tr>
	</tbody>
</table>
