<table>
	<thead>
		<tr>
			<th>Expression</th>
			<th>Equivalent Expression</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>08:00:00.000</td>
		</tr>
		<tr>
			<td>4pm or 04:00pm or 16:00</td>
			<td>16:00:00.000</td>
		</tr>
		<tr>
			<td>430pm or 04:30pm or 16:30</td>
			<td>16:30:00.000</td>
		</tr>
		<tr>
			<td>4pm</td>
			<td>17:00:00.000</td>
		</tr>
		<tr>
			<td>+1 second|minute|hour|day|week|month|year</td>
			<td>now +1 second|minute|hour|day|week|month|year</td>
		</tr>
		<tr>
			<td>-1 second|minute|hour|day|week|month|year</td>
			<td>now -1 second|minute|hour|day|week|month|year</td>
		</tr>
		<tr>
			<td>next Tuesday</td>
			<td></td>
		</tr>
		<tr>
			<td>last Tuesday</td>
			<td></td>
		</tr>
		<tr>
			<td>now</td>
			<td>new Date()</td>
		</tr>
		<tr>
			<td>today</td>
			<td>00:00:00.000</td>
		</tr>
		<tr>
			<td>midnight</td>
			<td>00:00:00.000 +24 hours</td>
		</tr>
		<tr>
			<td>morning or this morning</td>
			<td>07:00:00.000</td>
		</tr>
		<tr>
			<td>noon</td>
			<td>12:00:00.000</td>
		</tr>
		<tr>
			<td>afternoon or this afternoon</td>
			<td>13:00:00.000</td>
		</tr>
		<tr>
			<td>evening or this evening</td>
			<td>17:00:00.000</td>
		</tr>
		<tr>
			<td>tonight</td>
			<td>20:00:00.000</td>
		</tr>
		<tr>
			<td>tomorrow</td>
			<td>now +24 hours</td>
		</tr>
		<tr>
			<td>tomorrow morning</td>
			<td>morning +24 hours</td>
		</tr>
		<tr>
			<td>noon tomorrow or tomorrow noon</td>
			<td>noon +24 hours</td>
		</tr>
		<tr>
			<td>tomorrow afternoon</td>
			<td>afternoon +24 hours</td>
		</tr>
		<tr>
			<td>yesterday</td>
			<td>now -24 hours</td>
		</tr>
		<tr>
			<td>all the permutations of yesterday and morning, noon, afternoon, and evening</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>2004</td>
			<td></td>
		</tr>
		<tr>
			<td>October or Oct</td>
			<td>10/1</td>
		</tr>
		<tr>
			<td>Tuesday or Tue</td>
			<td><i>Calendar date of the next Tuesday</i></td>
		</tr>
		<tr>
			<td>October 26, 1981 or Oct 26, 1981</td>
			<td>10/26/1981</td>
		</tr>
		<tr>
			<td>October 26 or Oct 26</td>
			<td>10/26</td>
		</tr>
		<tr>
			<td>26 October 1981</td>
			<td>10/26/1981</td>
		</tr>
		<tr>
			<td>26 Oct 1981</td>
			<td>10/26/1981</td>
		</tr>
		<tr>
			<td>26 Oct 81</td>
			<td>10/26/1981</td>
		</tr>
		<tr>
			<td>10/26/1981 or 10-26-1981</td>
			<td></td>
		</tr>
		<tr>
			<td>10/26/81 or 10-26-81</td>
			<td></td>
		</tr>
		<tr>
			<td>1981/10/26 or 1981-10-26</td>
			<td>10/26/1981</td>
		</tr>
		<tr>
			<td>10/26 or 10-26</td>
			<td></td>
		</tr>
	</tbody>
</table>
