<table id="notification-macros-notification" class="notification-macros hidden">
	<thead>
		<tr>
			<th>Variable</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UUID</td>
			<td>The UUID of the notification object</td>
		</tr>
		<tr>
			<td>EVENT</td>
			<td>The event which caused the notification for this notification resource to be sent.</td>
		</tr>
		<tr>
			<td>URL</td>
			<td>The URL to which this notification will be published.</td>
		</tr>
		<tr>
			<td>ATTEMPTS</td>
			<td>Maximum retry attempts that will be made for this notification.</td>
		</tr>
		<tr>
			<td>RESPONSE_CODE</td>
			<td>The last response code for a delivery attempt for this notification</td>
		</tr>
		<tr>
			<td>LAST_UPDATED</td>
			<td>The timestamp of the last time this notification was updated in ISO8601 format</td>
		</tr>
		<tr>
			<td>ASSOCIATED_ID</td>
			<td>The resource whose events this notification is subscribed</td>
		</tr>
		<tr>
			<td>CREATED</td>
			<td>The timestamp when the notification was created in ISO8601 format</td>
		</tr>
		<tr>
			<td>STATUS</td>
			<td>The current status of this notification. eg. ACTIVE, INACTIVE, FAILED, COMPLETE.</td>
		</tr>


	</tbody>
</table>
