<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Values</th>
			<th>Purpose</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>sort</td>
			<td>asc, desc </td>
			<td>The sort order of the response. <span class="code">asc</span> by default.</td>
		</tr>
		<tr>
			<td>sortBy</td>
			<td>string</td>
			<td>The field by which to sort the response. Any field present in the full representation of the resource that you are querying is supported. Multiple values are not currently supported.</td>
		</tr>
	</tbody>
</table>
