<!-- Begin Tags API Events -->
<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	    <tr>
            <td>CREATED</td>
            <td><td>Tag was registered</td>
        </tr>
        <tr>
            <td>UPDATED</td>
            <td><td>Tag was updated</td>
        </tr>
        <tr>
            <td>DELETED</td>
            <td><td>Tag was deleted from active use</td>
        </tr>
        <tr>
            <td>RESOURCE_ADDED</td>
                 <td>Tag was restored from deleted status</td>
        </tr>
        <tr>
            <td>RESOURCE_REMOVED</td>
                   <td>Tag was disabled</td>
        </tr>
        <tr>
            <td>PUBLISHED</td>
            <td>Tag was published for public use</td>
        </tr>
        <tr>
            <td>UNPUBLISHED</td>
            <td>Tag was unpublished. It will no longer be available for public use</td>
        </tr>
        <tr>
            <td>PERMISSION_REVOKE</td>
            <td>One or more user permissions were revoked on this tag</td>
        </tr>
        <tr>
        	<td>PERMISSION_GRANT</td>
            <td>One or more user permissions were granted on this tag</td>
		</tr>
	</tbody>
</table>
<!-- End Tags API Events -->