<table>
  <thead>
    <tr>
      <th>Authorization Flow</th>
      <th>Access Token Lifetime</th>
      <th>Refresh Token Lifetime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Authorization</td>
      <td>4 hours</td>
      <td>infinite</td>
    </tr>
    <tr>
      <td>Implicit</td>
      <td>1 hour</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td>User Credential Password</td>
      <td>4 hours</td>
      <td>infinite</td>
    </tr>
    <tr>
      <td>Client Credentials</td>
      <td>4 hours</td>
      <td>n/a</td>
    </tr>
  </tbody>
</table>
