## User Management

The Agave hosted identity service (profiles service) is a RESTful web service that gives organizations a way to create and manage the user accounts within their Agave tenant. The service is backed by a redundant LDAP instance hosted in multiple datacenters making it highly available. Additionally, passwords are stored using the openldap md5crypt algorithm.

Tenant administrators can manage only a basic set of fields on each user account within LDAP itself. For more complex profiles, we recommend combing the profiles service with the metadata service. See the section on Extending the Basic Profile with the Metadata Service below.

The service uses OAuth2 for authentication, and user's must have special privileges to create and update user accounts within the tenant. Please work with the Agave development team to make sure your admins have the user-account-manager role.

In addition to the web service, there is also a basic front-end web application providing user sign up. The web application will suffice for basic user profiles and can be used as a starting point for more advanced use cases.

<aside class="notice">This service should **NOT** be used for authenticating users. For details on using OAuth for authentication, see the <a href="http://agaveapi.co/?p=1161">Authorization Guide</a></aside>

### Creating Users  

Create a user account by sending a POST request to the profiles service, providing an access token of a user with the user-account-manager role. The fields username, password and email are required to create a new user.

<aside class="notice">Creating and managing accounts requires a special <span class="code">user-account-manager</span> role. As a best practice, we recommend setting up a separate, dedicated, account to handle user management. Please work with the Agave developer team if this is of interest to your organization.</aside>

```shell
curl -sk -H "Authorization: Bearer $ACCESS_TOKEN" -X POST -d "username=testuser&amp;password=abcd123&amp;email=testuser@test.com" https://public.tenants.agaveapi.co/profiles/v2
```



```plaintext

```


[/tabgroup]

The response to this call for our example user looks like this:

```javascript
{  
  "message":"User created successfully.",
  "result":{  
    "email":"testuser@test.com",
    "first_name":"",
    "full_name":"testuser",
    "last_name":"testuser",
    "mobile_phone":"",
    "phone":"",
    "status":"Active",
    "uid":null,
    "username":"testuser"
  },
  "status":"success",
  "version":"2.0.0-SNAPSHOT-rc3fad"
}
```

The complete list of available fields and their descriptions is provided in the table below.
<%= partial "includes/tables/72" %>

Note that the service does not do any password strength enforcement or other password management policies. We leave it to each organization to implement the policies best suited for their use case.

### Extending the Basic Profile with the Metadata Service  

We do not expect the fields above to provide full support for anything but the most basic profiles. The recommended strategy is to use the profiles service in combination with the metadata service (see <a href="http://agaveapi.co/?p=1274" title="Metadata Management">Metadata Management</a> for more details) to store additional information. The metadata service allows you to create custom types using JSON schema, making it more flexible than standard LDAP from within a self-service model. Additionally, the metadata service includes a rich query interface for retrieving users based on arbitrary JSON queries.

The general approach used by existing tenants has been to create a single entry per user where the entry contains all additional profile data for the user. Every metadata item representing a user profile can be identified using a fixed string for the "name" attribute (e.g., "user_profile'). The value of the metadata item contains a unique identifier for the user (e.g. username or email address) along with all the additional fields you wish to track on the profile. One benefit of this approach is that it cleanly delineates multiple classes of profiles, for example "admin_profile", "developer_profile", "mathematician_profile", etc. When consuming this information in a web interface, such user-type grouping makes presentation significantly easier.

Another issue to consider when extending user profile information through the Metadata service is ownership. If you create the user's account, then prompt them to login before entering their extended data, it is possible to create the user's metadata record under their account. This has the advantage of giving the user full ownership over the information, however it also opens up the possibility that the user, or a third-party application, could modify or delete the record.

A better approach is to use a service account to create all extended profile metadata records and grant the user READ access on the record. This still allows third-party applications to access the user's information at their request, but prevents any malicious things from happening.

Here is a possible JSON document that could be used to store a metadata record representing a profile:

```javascript
{  
  "name":"user_profile",
  "value":{  
    "firstName":"Test",
    "lastName":"User",
    "email":"testuser@test.com",
    "city":"Springfield",
    "state":"IL",
    "country":"USA",
    "phone":"636-555-3226",
    "gravatar":"http://www.gravatar.com/avatar/ed53e691ee322e24d8cc843fff68ebc6"
  }
}
```

And here's a call to the Metadata service:
```shell
curl -sk -H "Authorization: Bearer $ACCESS_TOKEN" -X POST -F "fileToUpload=@profile_ex" https://public.tenants.agaveapi.co/meta/v2/data/?pretty=true
```


```plaintext
metadata-addupdate -v -F profile_ex 
```


[/tabgroup]

and the response:

```javascript
{
  "status" : "success",
  "message" : null,
  "version" : "2.1.0-rc0c5a",
  "result" : {
    "uuid" : "0001429724043699-5056a550b8-0001-012",
    "owner" : "jstubbs",
    "schemaId" : null,
    "internalUsername" : null,
    "associationIds" : [ ],
    "lastUpdated" : "2015-04-22T12:34:03.698-05:00",
    "name" : "user_profile",
    "value" : {
      "firstName" : "Test",
      "lastName" : "User",
      "email" : "testuser@test.com",
      "city" : "Springfield",
      "state" : "IL",
      "country" : "USA",
      "phone" : "636-555-3226",
      "gravatar" : "http://www.gravatar.com/avatar/ed53e691ee322e24d8cc843fff68ebc6"
    },
    "created" : "2015-04-22T12:34:03.698-05:00",
    "_links" : {
      "self" : {
        "href" : "https://public.tenants.agaveapi.co/meta/v2/data/0001429724043699-5056a550b8-0001-012"
      }
    }
  }
}
```

<aside class="notice">For even quicker access, you can associate the metadata record with the UUID of the user through the associationIds attribute. See the <a href="http://agaveapi.co/documentation/tutorials/metadata-management-tutorial/" title="Metadata Management Tutorial">Metadata Tutorial</a> for more information about efficient storing and searching of metadata.</aside>

### Updating Users  

Updates to existing users can be made by sending a PUT request to https://public.tenants.agaveapi.co/profiles/v2/ and passing the fields to update. For example, we can add a `gravatar` attribute to the account we created above.

```shell
curl -sk -H "Authorization: Bearer $ACCESS_TOKEN" -X PUT -d "password=abcd123&amp;email=testuser@test.com&amp;first_name=Test&amp;last_name=User" https://public.tenants.agaveapi.co/profiles/v2/testuser
```


```plaintext
profiles-update -v -p abcd123 -e "testuser@test.com" -f Test -l User testuser
```


[/tabgroup]

The response to this call looks like this:

```javascript
{  
  "message":"User updated successfully.",
  "result":{  
    "create_time":"20150421153504Z",
    "email":"testuser@test.com",
    "first_name":"Test",
    "full_name":"Test User",
    "last_name":"User",
    "mobile_phone":"",
    "phone":"",
    "status":"Active",
    "uid":0,
    "username":"testuser"
  },
  "status":"success",
  "version":"2.0.0-SNAPSHOT-rc3fad"
}
```

### Deleting Users  

Deleting existing users can be made by sending a DELETE request to https://public.tenants.agaveapi.co/profiles/v2/ - for example:

```shell
curl -sk -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE https://public.tenants.agaveapi.co/profiles/v2/testuser
```


```plaintext
profiles-delete -v testuser
```


[/tabgroup]

The response to this call looks like this:

```javascript
{
"message": "User deleted successfully.",
"result": {},
"status": "success",
"version": "2.0.0-SNAPSHOT-rc3fad"
}
```

### Account Creation Web Application  

The account creation web app provides a simple form to enable user self-sign. Here is a screenshot of the sign up form:

<img src="/images/2015/04/self-signup-screenshot.png" alt="Account creation web app form" />

The web application also provides an email loop for verification of new accounts. The code is open source and freely available from bitbucket: <a href="https://bitbucket.org/jstubbs/agave_id">Account Creation Web Application</a>

Most likely you will want to customize the branding and other aspects of the application, but for simple use cases, the Agave team can deploy a stock instance of the application in your tenant. Work with the Agave developer team if this is of interest to your organization.
